@import '../../App.css';

.perfil-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.25rem auto 0 auto;
    height: 260px;
    padding: 24px 0;
    gap: 16px;
}

.border {
    position: absolute;
    width: 132px;
    height: 132px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 246px;
    border-radius: 50%;
    border: 3px solid #ED2590;
}

.perfil-img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    border: 3px solid var(--primary);
    padding: 1px;
}

.perfil-name {
    font-weight: 500;
    color: var(--dark-10);
    font-size: 24px;
}

.perfil-status {
    font-size: 18px;
    color: var(--dark-10);
    font-weight: 400;
}

@media (min-width: 1200px){
    .perfil-card {
        margin-top: 0;
        width: 17.5rem !important;
        height: 20.25rem;
    }

    .perfil-img {
        width: 10.625rem;
        height: 10.625rem;
        border: 3px solid var(--primary);
        padding: 2px;
    }
}