@import '../../App.css';

.community {
    height: 411px;
    margin: 32px auto 32px auto;
    padding: 24px 27px;
}

.community-number {
    display: flex;
    justify-content: space-between;
}

.community-amount {
    font-size: 1rem;
    color: var(--dark-10);
    font-weight: 500;
}

.community-all {
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.community-list {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.community-list_img {
    width: 56px;
    cursor: pointer;
}

.community-list_card {
    margin-top: 32px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-list_name {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-10);
}

@media (min-width: 1200px){
    .community {
        margin: 37px 0;
        width: 17.5rem;
        padding: 24px 27px 24px 0;
    }

    .community-number {
        padding-left: 1.5rem;
    }

    .community-list {
        width: 17.5rem;
       
    }
}