@import '../../App.css';

.edit {
    margin-top: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;

}

.edit-btn {
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

@media (min-width: 1200px){
    .edit {
        margin-top: 3rem;
    }
}