@import '../../App.css';

.edit {
    margin: 20px auto 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.edit-btn {
    color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}