.description {
     margin: 40px auto 0 auto;
     padding: 24px;
}

.description-name {
    color: var(--dark-10);
    font-size: 20px;
    font-weight: 500;
}

.description-text {
    margin-top: 23px;
    font-size: 12px;
    color: var(--dark-10);
    padding: 16px 22px;
    background-color: #EFF3F8;
    border-radius: 16px;
    word-wrap: break-word;
}

.description-status {
    margin-top: 50px;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.description-status_wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description-status_icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.description-info {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.description-info_display {
    display: flex;
    gap: 15px;
    align-items: center;
}

.description-info_status span:nth-child(n+2){
    display: none;
}

.description-info_status {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-20);
}

.description-info_status_name {
    font-size: 16px;
    color: var(--dark-10);
}

.description-info_status_display {
    font-size: 16px;
    color: var(--dark-10);
    border: var(--primary) 2px solid;
    padding: 2px 16px;
    border-radius: 30px;
}

.description-seeall {
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}